.main-section {
    background: #3A4042;
    border-bottom: 10px solid #7c5e99;
    padding-top: 50px;
    padding-bottom: 100px;
}

.main-section .main-title {
    margin-bottom: 60px;
}

.main-section.-bgBlack {
    background-color: black;
}

.main-section.-bdFirst {
    border-color: #7c5e99;
}

.main-section.-bgGreen {
    background-color: #077C12;
}

.main-section.-bdSecond {
    border-color: #000;
}